<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Targeted Help - Home</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "960" %>
    <%= javascript_include_tag "fontjazz" %>
    <%= javascript_include_tag "bluefont" %>
</head>
<body>

	<div id="main">
    	<div id="top">
	    	<img src="images/targetedhelp.gif" style="float: left;" />
            <!--<img src="images/menu.png" style="float: left; padding-top: 27px;"  />-->
            <div id="menu">
            	<ul>
                	<li><a href="index.html"><img src="images/menu/home.gif" /></a></li>
                    <li><a href="people.html"><img src="images/menu/people.gif" /></a></li>
                    <li><img src="images/menu/ministries.gif" /></li>
					<li><img src="images/menu/microbusinesses.gif" /></li>
                    <li><img src="images/menu/search.gif" /></li>
                </ul>
            </div>
        </div>
        <img src="images/about-banner.gif" />
        <div id="middle">
        
            <div class="container_16" style="background: none;">
              <div class="grid_16" style="line-height: 23px;">
                  <h2>Mission Statement</h2>
                  
<p>If you are a person gifted with the capacity to give and do so regularly, then you will know: frequent givers want to know how their money is spent. They want to ensure that it is spent effectively, becase they want their sacrifice to be meaningful. Traditionally, we do this by taking a close look at the charities we sponsor. We read about them and form judgments. But what if we could give directly to the needy person, rather than depend on a 3rd party?</p>

<p>Direct giving cannot replace the invaluable work of charities on the ground. They are the purveyors of much <a href="information.html"><em>information</em></a> that is difficult to supply without the concentrated focus of an institution with a mission.</p>

<p>However, much of what charities do could be done more effectively by individuals fully exploiting the internet. With more effective means of identifying specific needs and addressing them individually, we free up charitable NGOs to focus on tasks that only they can accomplish.</p>

<p>For instance, direct giving relieves charitable organizations of at least part of their marketing overhead. When it comes to addressing specific needs (as opposed to community development) charities could assume their more natural role as purveyors of information and let the giving community assume some of the responsibility of discussing and addressing the need.</p>

<p>Furthermore, by publishing needs in detail, individual givers can choose which needs they most want to address. This ought to change the competition for donor dollars in positive ways. Instead of half-persuaded donors hovering between choices and subject to the influence of the vagueries of marketing campaigns, we might see well informed donors who know exactly where they want to contribute and who will be willing to support NGOs whose mission complements their giving to specific individuals. For instance, if a giver is help a poor person start a micro-business and learns that an NGO has a plan to electrify the recipients village, the giver will likely be inclined to donate money to the NGO as well as the poor person. We can move beyond the fluff and vaguery of emotional appeals to a more focused giving effort that will favor charities, not hurt them. We must liberate charities, allow them to be "real" and talk about real needs. Direct giving can help shrink the distance between presentation and real needs on the ground, between appearance and reality. </p>

<p>TargetedHelp.org is an effort to get the ball rolling with direct giving. Once this gets started, no doubt many will climb on the bandwagon and start their own websites. That is exactly what we want. We want to create vision for a new form of giving by being among the first to make it possible. We are not the first to think of this. Creative and pro-active individuals across the globe are taking the initative to provide givers with new opportunities to make direct contributions to worthy projects that are far more transparent (informationally) than the traditional informationally opaque model of charitable organizations. For a great example of this, read Atlantic magazine's journalist <a href="http://www.theatlantic.com/magazine/archive/2008/10/how-the-west-was-wired/6990/" class="georgia">James Fallow's account</a> of how a Taiwanese businessman, Kenny Lin, has used the internet to help a village in the poor Western region of mainland China. You can see Kenny Lin's website and contribute to his mission <a href="http://www.yellowsheepriver.com/eng/ysrwstory_index1.php" class="georgia">here</a>.</p>

<p>Do you know of any giving entrepreneurs like Kenny Lin? If you do, the tell us about them and we will link to their website on ours!! TargetedHelp.org is all about <em>networking</em> and shared <a href="information.html"><em>information</em></a></p>

<p>Come on! Let's get to work and build a better world! <em>Tell us about the severe cases of need you know</em>, and please contribute!</p>

<p>TargetHelp.org does not accept or handle money directly. You must send money to the person in need using the instructions that person provides (published on this website). We have a system that allows people of trust (prominent community members, NGO workers, priests, pastors, people in authority) to vouch for the good character of the person in need and the veracity of the published need. Please read about <a href="giving-mechanism.html">The Mechanics of Giving</a> for further details.</p>
				</div>
			<div class="clear"></div>
		</div>
    </div>
 	<div id="footer-1col">
    	&nbsp;
    </div>
	  <script type="text/javascript">
	  	 FontJazz.apply("h2", "bluefont");
	  </script>
</body>
</html>
