<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Targeted Help - Home</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "960" %>
    <%= javascript_include_tag "fontjazz" %>
    <%= javascript_include_tag "bluefont" %>
</head>
<body>

	<div id="main">
    	<div id="top">
	    	<img src="images/targetedhelp.gif" style="float: left;" />
            <!--<img src="images/menu.png" style="float: left; padding-top: 27px;"  />-->
            <div id="menu">
            	<ul>
                    <li><a href="index.html"><img src="images/menu/home.gif" /></a></li>
                    <li><img src="images/menu/people-selected.gif" /></li>
                    <li><img src="images/menu/ministries.gif" /></li>
		    <li><img src="images/menu/microbusinesses.gif" /></li>
                    <li><img src="images/menu/search.gif" /></li>
                </ul>
            </div>
        </div>
        <img src="images/people-banner.gif" />
        <div id="middle">
        
            <div class="container_16">
              <div class="grid_10">
                  <h2>Sick</h2>
                  	<div class="catalog">
                    	<a class="grey" href="martin.html">
                        <div class="catalog-item" style="margin-right: 70px;">
							<img src="images/people/martin.jpg" />
                            <br/>
                            Martin
                        </div>
                        </a>
                        <a class="grey" href="silvia.html">
                    	<div class="catalog-item">
							<img src="images/people/silvia.jpg" />
                            <br/>
                            Silvia
                         </div>
                        </a>
                    </div>
				</div>
                
                <div class="grid_6 col2" >
                    <div id="categories" class="col2-content">
                        <div style="padding-left: 24px;"><h2>Categories</h2></div>
                        <br/>
                        <ul id="categories-list">
                        	<li class="selected-category"><h3>Sick</h3></li>
                        	<a class="grey" href="people-poor.html"><li class="category"><h3>Poor</h3></li></a>
                        	<li class="category"><h3>Students</h3></li>
                        </ul>
                 	</div>
             	</div>  
            </div>
			<div class="clear"></div>
		</div>
    </div>
 	<div id="footer">
    	&nbsp;
    </div>
	  <script type="text/javascript">
	  	 FontJazz.apply("h2", "bluefont");
	  </script>
</body>
</html>
