.recommendation.corner
  .left(style="margin-right: 10px;")
    = image_tag recommendation.recommendor.avatar.url(:tiny)
  %h4= recommendation.recommendor.firstname + " " + recommendation.recommendor.lastname
  .recommendation-description.left= recommendation.description
  .clear
%br/