.container_16
  .grid_10
    %h2= @user.firstname + " " + @user.lastname
    %br/
    .item-content
      #recommend.invisible(style="line-height: 20px;")
        %h4 Fill in your recommendation
        = render :partial => "recommend_form", :locals => {:user=> @user}

      #new-recommendation
      = render :partial => "recommendation", :collection => @user.recommendations

      - if @user.recommendations.length == 0
        #no_recommends
          %h4 there are no recommendations
        %br/

      - if current_user && !already_recommended?(current_user,@user)
        %a#recommend_link(href="javascript:openRecommendation()") Recommend
        %br/
        %br/
    
    
.clear

:plain
  <script>
    corners();
  </script>