.recommendation.corner
  .left(style="margin-right: 10px;")
    = image_tag recommendation.recommendor.avatar.url(:tiny)
  - link_to(recommendation.recommendor) do
    %h4= recommendation.recommendor.firstname + " " + recommendation.recommendor.lastname
  .recommendation-description.left= recommendation.description
  .clear
  - if recommendation.recommendor.recommendors.length != 0
    %br/
    .right
      %h4 chain of trust
    .clear
    .chainoftrust
      - recommendation.recommendor.recommendors.each do |recommendor|
        - link_to(recommendor) do
          %h4= recommendor.firstname + " " + recommendor.lastname
%br/