<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Targeted Help - Home</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "960" %>
    <%= javascript_include_tag "fontjazz" %>
    <%= javascript_include_tag "bluefont" %>
</head>
<body>

	<div id="main">
    	<div id="top">
	    	<img src="/images/targetedhelp.gif" style="float: left;" />
            <!--<img src="/images/menu.png" style="float: left; padding-top: 27px;"  />-->
            <div id="menu">
            	<ul>
                	<li><a href="index.html"><img src="/images/menu/home.gif" /></a></li>
                    <li><a href="people.html"><img src="/images/menu/people.gif" /></a></li>
                    <li><img src="/images/menu/ministries.gif" /></li>
					<li><img src="/images/menu/microbusinesses.gif" /></li>
                    <li><img src="/images/menu/search.gif" /></li>
                </ul>
            </div>
        </div>
        <img src="/images/about-banner.gif" />
        <div id="middle">
        
            <div class="container_16" style="background: none;">
              <div class="grid_16" style="line-height: 23px;">
                  <h2>TargetedHelp Giving Mechanism</h2>
                  
<p>TargetedHelp.org can not accept or handle money directly. This website is managed a group of volunteers in their spare time. We receive no salary and have no budget. We do not have the infrastructure for handling money, nor the legal infrastructure to assume responsibility for the content of this website. You have heard of "Caveat emptor!" Well, givers must exercise something like "Caveat donor!" TargetedHelp.org can not guarantee the veracity of any need published on this website. If we discover that published information is fraudulent, we will remove it, but some fraudulent information will no doubt eventually appear without our realizing that it is fraudulent. We can not and do not assume responsibility for guaranteeing the veracity of any information published here.</p>

<p>So how does the giver protect himself or herself? We return to our mantra: <a href="information.html" style="font-weight:bold">information</a>. We plan to take advantage of an exciting new technology called Google Wave that will allow givers to engage in conversation with people on the ground. If things go as planned, you will be able to ask any set of questions you like. And you can insist that someone in authority whom you trust verify the legitimacy of the published need. In particular, we hope to involve church authorities in verifying needs and publish their contact information alongside information about the recipient of the gift. GoogleWave will allow an entire community of people to participate in the conversation about a particular need and explore its dimensions. In the end, you the giver will decide when there is a critical mass of information available that satisfies your requirements and earns your trust. Again, you need not be passive in this process. You can ask for certain guarantees and withhold your gift if you do not receive them. There will be occasions that you remain unconvinced and decide to be cautious, but there will never be a shortage of worthy recipients whose needs are clear and easy to verify as genuine.</p>

<p>Please join in the conversation! Please become a channel of information yourself!</p>
				</div>
			<div class="clear"></div>
		</div>
    </div>
 	<div id="footer-1col">
    	&nbsp;
    </div>
	  <script type="text/javascript">
	  	 FontJazz.apply("h2", "bluefont");
	  </script>
</body>
</html>
