.container_16
  .grid_10
    %h2 Welcome to our organization
    #index-main
      %p
        Do you have the spiritual gift of giving? If so, we want to expand your giving horizons.
        We currently have four categories: The Poor, The Sick, Ministries and Microbusinesses,
        but we plan to offer more. Suggest a new one to us!
      %p
        TargetedHelp.org is a new concept that is long overdue - bringing giving into the
        Information Age. By giving directly to those in need, we cut the cost of giving to
        a minimum and empower charitable organizations with a &quot;presence on the ground&quot;
        to focus on their more vital role of collecting information.
    = image_tag ("imagestripe.gif")       
  .grid_6.col2
    .column2-title.col2-content
      %h2 How it works

    .column2-title.col2-content
      %p
        You can read more about this exciting new concept here:
        %a.grey(href="mission-statement.html" style="font-weight:bold")
          Our Mission Statement

    .column2-title.col2-content
      %p
        You can read about our vision of the critical importance of information here:
        %br/
        %a.grey(href="information.html" style="font-weight:bold")
          The Role of Information

    .column2-title.col2-content
      %p
        You can read more about the new mechanism for giving we propose here:
        %br/
        %a.grey(href="giving-mechanism.html" style="font-weight:bold")
          The Mechanics of Giving Directly
.clear                    render :action => ""

