<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div>
    <h1>John Strong</h1>
    <a href="/images/people/john/john.jpg" rel="lightbox[gallery]">
	image_tag ("people/john/john.jpg")
    </a>
    
    <h2>Biographical Details</h2>
    <div style="margin-left:2em">
    John Strong lives in Orizaba, Veracruz, Mexico with his wife of 20 years, Maria de Lourdes Turnbull and 3 of his 4 children. 
    He has taken a keen interest in the charitable organization World Vision over the years and collaborated with them on several
    projects.
    </div>
    
    <h2>Contact Information:</h2>
    <div style="margin-left:2em">
        <p><b>Telephone:  </b>(512) 487-8494</p>
        <p><b>E-mail:  </b>pluviosilla@gmail.com</p>
        <p><b>Skype ID:  </b>pluviosilla</p>
        <p><b>GoogleWave Dialog:  </b></p>
    </div>
</div>
</body>
</html>
