<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div>
    <h1>Lázaro Martinez</h1>
    <a href="images/people/john/john.jpg" rel="lightbox[gallery]">
        image_tag ("people/lazaro/lazaro 3 (small).jpg")   
    </a>
   
    <h2>Biographical Details</h2>
    <div style="margin-left:2em">
        Lázaro Martinez lives in Orizaba, Veracruz, Mexico with his wife and 3 children. He is a full-time employee of World Vision
        and leader of the World Vision project in Atlahuilco. He has devoted his life to serving
        the poor, which in his case means a long history of thinking about how to tackle poverty and organizing creative solutions to
        the problems of poor people. His many accomplishments include:
        <ul>
        <li>Organization and launching of an informal communal bank.</li>
        <li>Organization and launching of a sheep raising cooperatives.</li>
        <li>Organization and launching of a sewing cooperative.</li>
        <li>Research into viable wood-burning stove technologies intended to remedy negative health impact of wood burning in poor homes.
        Creation and distribution of custom-designed stoves.</li>
        <li>Long, on-going labor of persuasion intended convince poor rural people that it is in their interest to enter
        the formal economy by obtaining title to their land holdings.</li>
        <li>Extensive work on reforestation of denuded hillsides in poor rural areas.</li>
        <li>Organization, launching and successful administration of children's values and bible instruction.</li>
        <li>Organization of poor communities along the lines of the standard World Vision format of so-called "PDAs" 
        (Project Development Areas) that become autonomous after 10 years of shepherding and financial support by World Vision.</li>
        </ul>
    </div>
    
    <h2>Contact Information:</h2>
    <div style="margin-left:2em">
        <p><b>Telephone:  </b>(011) (52) 721-3973</p>
        <p><b>E-mail:  </b>lm_camacho@hotmail.com</p>
        <p><b>Skype ID:  </b>None</p>
        <p><b>GoogleWave Dialog:  </b></p>
    </div>
</div>
</body>
</html>
